<section class="container min-vh-100 py-5">
  <h5 class="mt-5 mb-4 fw-semibold">{{ title }} usuario</h5>
  <form [formGroup]="userForm" (ngSubmit)="getDataForm()">
    <input type="hidden" formControlName="_id" />
    <div class="mb-3">
      <label class="form-label" for="first_name">Nombre</label>
      <input
        class="form-control"
        type="text"
        id="first_name"
        formControlName="first_name"
        placeholder="Introduce nombre"
      />
      @if(checkControl('first_name', 'required')){
      <p class="error">Campo obligatorio</p>
      } @if(checkControl('first_name', 'minlength')){
      <p class="error">El campo debe tener al menos 3 caracteres</p>
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="last_name">Apellidos</label>
      <input
        class="form-control"
        type="text"
        id="last_name"
        formControlName="last_name"
        placeholder="Introduce apellidos"
      />
      @if(checkControl('last_name', 'required')){
      <p class="error">Campo obligatorio</p>
      } @if(checkControl('last_name', 'minlength')){
      <p class="error">El campo debe tener al menos 3 caracteres</p>
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      <input
        class="form-control"
        type="text"
        id="email"
        formControlName="email"
        placeholder="Introduce email"
      />
      @if(checkControl('email', 'required')){
      <p class="error">Email obligatorio</p>
      }@if(checkControl('email', 'pattern')){
      <p class="error">El email debe ser válido</p>
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="image">Imagen de perfil</label>
      <input
        class="form-control"
        type="text"
        id="image"
        formControlName="image"
        placeholder="Introduce una URL válida"
      />
      @if(checkControl('image', 'required')){
      <p class="error">Imagen obligatoria</p>
      }@if(checkControl('image', 'pattern')){
      <p class="error">El url debe ser válido</p>
      }
    </div>

    <input
      class="btn btn-secondary"
      type="submit"
      [value]="userForm.get('_id')?.value ? 'Actualizar' : 'Registrar'"
      [disabled]="userForm.invalid"
    />
  </form>
</section>
