<section>
  <h2>Formulario</h2>
  <form [formGroup]="userForm" (ngSubmit)="getDataForm()">
    <div class="mb-3">
      <label class="form-label" for="first_name">Nombre</label>
      <input
        class="form-control"
        type="text"
        id="first_name"
        formControlName="first_name"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="last_name">Apellidos</label>
      <input
        class="form-control"
        type="text"
        id="last_name"
        formControlName="last_name"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      <input
        class="form-control"
        type="text"
        id="email"
        formControlName="email"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="image">Imagen de perfil</label>
      <input
        class="form-control"
        type="text"
        id="image"
        formControlName="image"
      />
    </div>
    <input
      class="btn btn-danger"
      type="submit"
      value="Enviar"
      [disabled]="userForm.invalid"
    />
  </form>
</section>
